/*
!/.ideavimrc
!/.gitignore
!/.gitconfig
!/alacritty.yml
!/.alacritty.toml
!/.tmux.conf
!/.zshrc
!/LICENSE
!/README.md
!/screenshot.png

!/.config
/.config/*

!/.config/nvim

!/.config/lazygit
/.config/lazygit/*
!/.config/lazygit/config.yml

!/.config/fontconfig
/.config/fontconfig/*
!/.config/fontconfig/fonts.conf
